/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700');

$green-light: rgb(110, 204, 174);
$red: rgb(172,57,49);;

body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

.bat-logo {
  width: 80px !important;
  height: 80px !important;
}

.hero {
  margin-top: 20vh;
}

.faq {
  margin-top: 200px;
}

.room-status {
  margin-top: 50px;

  h2 {
    color: white;
    border-radius: 5px;
    padding: 36px;
  }

  .free {
    background: $green-light;
    box-shadow: 0 4px 6px rgba($green-light,.11), 0 1px 3px rgba(0,0,0,.08);
  }

  .busy {
    background: $red;
    box-shadow: 0 4px 6px rgba($red,.11), 0 1px 3px rgba(0,0,0,.08);
  }
}

.questions-container {
  margin-top: 50px;
  text-align: center;
  .question {
    margin-bottom: 50px;
  }
}

.mt-4 {
  margin-top: 25vh !important;
}

.btn-primary {
  background: $green-light;
  border: none;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

  &:hover {
    background: darken($green-light, 5%);
    border: none;
    transform: translateY(-1px);
    box-shadow: 0 6px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }

  &:focus {
    outline: none;
    background: darken($green-light, 10%);
    border: none;
  }

  &:active {
    outline: none;
    background: darken($green-light, 10%) !important;
    border: none !important;
  }
}